@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;500;700;800&family=Lora:ital,wght@0,400;0,500;1,400&display=swap');

body,h1,h2 {
  margin: 0;
  background-color: rgb(222, 252, 222);
  font-family: 'Gemunu Libre'
}

.hidden {
  display: none !important;
}

@media (min-width: 500px) {
  .title {
    font-size: 62px;
  }
  .newGame, .vsPlayer, .vsComputer  {
    font-size: 24px;
  }
} 

@media (max-width: 500px) {
  .title {
    font-size: 36px;
  }
  .newGame, .vsPlayer, .vsComputer  {
    font-size: 18px;
  }
}

.title {
  margin-top: 36px;
  margin-bottom: 24px;
  font-family: 'Gemunu Libre', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
  letter-spacing: +0.2em;
}

.start {
  margin-bottom: 24px;
  cursor: pointer;
  transition: 200ms;
  width: 100%;
  background: rgb(213, 213, 245);
}

.start:hover {
  font-size: 36px;
  transition: 0.4s;
}

.winnerName {
  margin-bottom: 24px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  .playBoard {
    grid-template-columns: 200px 200px 200px;
  }
  .box {
    height: 200px;
    width: 200px;
  }
} 

@media (max-width: 500px) {
  .playBoard {
    grid-template-columns: 100px 100px 100px;
  }
  .box {
    height: 100px;
    width: 100px;
  }
}

.playBoard {
  margin-top: 24px;
  display: grid;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:nth-child(-n + 2), .box:nth-child(4), .box:nth-child(5) {
  border-bottom: solid black 8px;
  border-right: solid black 8px;
}

.box:nth-child(3), .box:nth-child(6) {
  border-bottom:solid black 8px;
}

.box:nth-child(n + 8) {
  border-left: solid black 8px;
}

@media (min-width: 500px) {
  .o, .x, .xChecked, .oChecked {
    height: 200px;
    width: 200px;
  }
} 

@media (max-width: 500px) {
  .o, .x, .xChecked, .oChecked {
    height: 100px;
    width: 100px;
  }
}

.cell {
  background: none;
  border: none;
}

.o:hover {
  background-image: url('public/oGray.png');
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-position: center center;
}

.x:hover {
  background-image: url('public/xGray.png');
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-position: center center;
}

.xChecked {
  background-image: url('public/x.png') !important;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-position: center center;
}

.oChecked {
  background-image: url('public/o.png') !important;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-position: center center;
}


